logs
plugins
node_modules
package-lock.json
README.md
LICENSE
.git
.vscode
npm-debug.log
.editorconfig
.env
.env.example
.gitignore
.prettierignore
.prettierrc
compose.yaml
Dockerfile
ecosystem.config.js