DATABASE_URL="postgresql://postgres:password@localhost:5432/database?schema=public"
GUILD_ID=""
BDSD_CHANNEL_ID=""
DISCORD_BOT_TOKEN=""
DISCORD_BOT_CLIENT_ID=""
PAYMENT_CLIENT_ID=""
PAYMENT_API_KEY=""
PAYMENT_CHECKSUM_KEY=""
BANKNAME=""
BANKNO=""
MODE="" # test/production/development